#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: translucent;
}
img{
  width:100%;
  height:100%;
}

.myCard{
  position:relative;

}

.myOverlay{
  width: 100%;
  height: 60px;
  position: absolute;
  z-index: 99;
  bottom: 0px;
  opacity: 0.5;
  background: #000;
  color: #fff;

}
ion-header{
  --ion-text-color: #02C39A;
}
ion-content{
  --ion-background-color: #A5D3D9;
  --ion-text-color: #47525E;
}
