.divElement{
  margin: 25px;
  border: 2px solid #185e2f;
};
ion-header{
  background-color: #A5D3D9;
  --ion-text-color: #02C39A;
}
ion-content{
  --ion-background-color: #A5D3D9;
  --ion-text-color: #47525E;
}
